<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
<body class="home">

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-1 no-gutter menu-left">
            <!-- build:include include/header.html -->
            <!-- /build -->
        </div>

        <div class="col-lg-11 no-gutter"> <!-- changer la classe sur le contenu à decaler -->
            <div class="header">
                <div class="logo">
                </div>
                <div class="login">

                </div>
            </div>

            <div class="main-container">
                <div class="m-donut">
                    <div class="c-donut">
                        <h3><i class="zmdi zmdi-store"></i> Rooms ouvertes</h3>
                        <div class="chart">
                            <div class="percentage" data-percent="75">
                                <span class="number">75</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- build:include include/footer.html -->
<!-- /build -->

</body>
</html>
