.modale-contenu{
  .modale-invit .nav-tabs > li a span{
    display: block;
  }

  li.deco{
    color: #000000;
    font-size: 24px;
    margin: 0 20px;
  }

  .form-content{
    width: 48%;
    display: inline-block
  }

  .nickname{
    float: right;
  }

}
