<div class="c-menu-left">

    <div class="cl">
        <a href="#" class="tab-menu first"><i class="zmdi zmdi-menu"></i></a>
        <a href="#" class="tab-menu active"><i class="fa fa-dashboard"></i></a>
        <a href="#" class="tab-menu"><i class="fa fa-bar-chart"></i></a>
        <a href="#" class="tab-menu"><i class="zmdi zmdi-shopping-cart"></i></a>
        <a href="#" class="tab-menu"><i class="zmdi zmdi-format-list-bulleted"></i></a>
        <a href="#" class="tab-menu"><i class="zmdi zmdi-store"></i></a>
        <a href="#" class="tab-menu"><i class="zmdi zmdi-eye"></i></a>
        <a href="#" class="tab-menu"><i class="zmdi zmdi-truck"></i></a>
        <a href="#" class="tab-menu"><i class="zmdi zmdi-notifications"></i></a>
    </div>


    <div class="cr animated hidden">
        <a href="#" class="tab active">tableau de bord</a>
        <a href="#" class="tab">Les statistiques</a>
        <a href="#" class="tab">Le catalogue</a>
        <a href="#" class="tab">Les commandes</a>
        <a href="#" class="tab">Les rooms</a>
        <a href="#" class="tab">Le stock</a>
        <a href="#" class="tab">Les livreurs</a>
        <a href="#" class="tab">Notifications</a>
    </div>

</div>