
<footer>
	<div class="brand"><a href="#" title="">© Room Saveurs</a></div>

	<div class="first-list">
		<ul>
			<li>
				<a href="#" title=""><img src="img/facebook.svg" alt=""></a>
			</li>
			<li>
				<a href="#" title=""><img src="img/twitter.svg" alt=""></a>
			</li>
			<li>
				<a href="#" title=""><img src="img/instagram.svg" alt=""></a>
			</li>
			<li>
				<a href="#" title=""><img src="img/youtube.svg" alt=""></a>
			</li>
		</ul>
	</div>

	<div class="second-list">
		<ul>
			<li><a href="#" title="">Conditions générales</a></li>
			<li> | </li>
			<li><a href="#" title="">Mentions légales</a></li>
		</ul>
	</div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="js/vendors.js"></script>
<script src="js/app.js"></script>
