<div class="head">
    <div class="c-head">
        <a href="/"><img class="logo" src="img/logo.svg" alt=""></a>

        <div class="nav-head">
            <a href="#" class="mon-compte">Mon compte</a>
            <a href="#"><i class="icon icon-notif"></i></a>
            <a href="#"><i class="icon icon-panier"></i></a>
        </div>
    </div>
</div>

<div class="panier hide">

    <div class="c-panier">

        <h4 class="choice-title">Panier</h4>

        <div class="tableau">
            <table class="table">
                <tr>
                    <td>Rôti de saumon</td>
                    <td>
                        <div class="more-min">
                            <span class="btn-act more">+</span>
                            <span class="number">0</span>
                            <span class="btn-act min">-</span>
                        </div>
                    </td>
                    <td>
                        38,90€
                    </td>
                </tr>
                <tr>
                    <td>Rôti de saumon</td>
                    <td>
                        <div class="more-min">
                            <span class="btn-act more">+</span>
                            <span class="number">0</span>
                            <span class="btn-act min">-</span>
                        </div>
                    </td>
                    <td>
                        38,90€
                    </td>
                </tr>
                <tr>
                    <td>Rôti de saumon</td>
                    <td>
                        <div class="more-min">
                            <span class="btn-act more">+</span>
                            <span class="number">0</span>
                            <span class="btn-act min">-</span>
                        </div>
                    </td>
                    <td>
                        38,90€
                    </td>
                </tr>
            </table>
            <div class="nb-articles">6 article(s)</div>
            <div class="total">
                <span>total</span><span class="price">138,90€</span>
            </div>
            <div class="btn">
                <a href="#" class="btn1">Valider mon panier</a>
            </div>
        </div>
    </div>

</div>