.head {
  background-color: #000;

  .logo {
    width: 123.3px;
    height: 115px;
    object-fit: contain;
    margin-left: 66px;
    margin-top: 52px;
  }

  .mon-compte {
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
  }
}

