.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;

  .menu-sticky & {
    background-color: #000000;
    z-index: 3;

    .c-head {
      height: 90px;
      display: flex;
      align-items: center;
      width: 1182px;
      margin: 0 auto;

      .logo {
        margin: 0px;
        width: 70px;
      }

      .nav-head {
        margin: 0px;
        flex: 1;
        align-items: center;
        flex-direction: inherit;
        justify-content: flex-end;
      }
    }

    .icon-panier {
      margin-right: 0px;
    }

  }

  .logo {
    width: 123.3px;
    height: 115px;
    object-fit: contain;
    margin-left: 66px;
    margin-top: 52px;
  }

  .mon-compte {
    font-size: 2.2rem;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    font-family: $dinMedium;
    position: relative;
    top: 9px;
    margin-right: 20px;
    transition: ease .4s;

    &:hover {
      text-decoration: none;
      color: $color1;
    }

    &:after {
      content: '';
      width: 2px;
      height: 20px;
      border: solid 1px #ffffff;
      display: inline-block;
      margin-left: 20px;
    }
  }
  a {
    color: #fff;
  }

  .icon {
    font-size: 2.5rem;
    margin-right: 20px;
  }

  .nav-head {
    float: right;
    margin-top: 49px;
    margin-right: 48px;
    display: flex;
    align-items: center;

    a {
      transition: ease .4s;

      &:hover {
        text-decoration: none;
        color: $color1;
      }
    }
  }
}

.panier, .notifications {
  &:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.76);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

.c-panier {
  display: block;
  position: fixed;
  width: 400px;
  height: 100vh;
  background-color: #fff;
  top: 0;
  right: 0;
  z-index: 10;
  padding-left: 10px;
  box-sizing: border-box;

  .choice-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: $dinMedium;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 21px;

    &:after {
      content: '• • •';
      color: $color3;
      margin-left: 15px;
    }
  }

  .more-min {
    border: solid 1px #000000;
    width: 61px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    .number {
      font-family: $dinMedium;
      font-size: 1.8rem;
      font-weight: 500;
      color: #000000;
      padding: 0px 10px;

      &:after {
        content: '';
        width: 2px;
        height: 18px;
        border-left: solid 1px rgba(0, 0, 0, 0.5);
        display: block;
        position: absolute;
        top: -3px;
        left: 4px;
      }

      &:before {
        content: '';
        width: 2px;
        height: 18px;
        border-left: solid 1px rgba(0, 0, 0, 0.5);
        display: block;
        position: absolute;
        top: -3px;
        right: 3px;
      }
    }

    .btn-act {
      font-family: $dinMedium;
      font-size: 1.8rem;
      font-weight: 300;
      color: #000000;
      cursor: pointer;
      transition: ease .4s;
      top: 5px;

      &:hover {
        color: $color1;
      }
    }

    span {
      position: relative;
      top: 6px;
    }
  }

  table.table {
    border-bottom: 1px solid #000;
  }

  .nb-articles {
    font-family: $dinMedium;
    font-size: 2.0rem;
    font-weight: 500;
    color: #000000;
    float: right;
    margin-right: 21px;
  }

  .total {
    margin-top: 70px;
    padding-right: 21px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    span {
      font-family: $dinMedium;
      font-size: 1.8rem;
      font-weight: 300;
      color: #000000;
      text-transform: uppercase;
    }

    .price {
      color: $color2;
    }
  }

  .btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 23px;
  }

  .btn1 {
    display: inline-block;
    background-color: $color2;
    border: solid 1px $color2;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
    text-align: center;
    padding: 10px 15px;
    height: 49px;
    font-size: 2rem;
    text-decoration: none;
    transition: ease .4s;
    font-family: $dinMedium;
    line-height: 40px;

    &:hover {
      text-decoration: none;
      border-color: $color2;
      color: $color2;
      background-color: #fff;
    }
  }
}

.notifications {
  table.table {
    border-bottom: solid 1px #e4e4e4;
  }

  strong {
    margin-bottom: 20px;
    display:block;
    margin-top:10px;
  }
}