.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  .menu-sticky & {
    background-color: #000000;
    z-index: 3;

    .c-head {
      height: 150px;
      display: flex;
      align-items: center;
      width: 1182px;
      margin: 0 auto;

      .logo {
        margin: 0px;
      }

      .nav-head {
        margin: 0px;
        flex: 1;
        align-items: center;
        flex-direction: inherit;
        justify-content: flex-end;
      }
    }

    .icon-panier {
      margin-right: 0px;
    }

  }


  .logo {
    width: 123.3px;
    height: 115px;
    object-fit: contain;
    margin-left: 66px;
    margin-top: 52px;
  }

  .mon-compte {
    font-size: 2.2rem;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    font-family: $dinMedium;
    position: relative;
    top: 9px;
    margin-right: 20px;
    transition: ease .4s;

    &:hover {
      text-decoration: none;
      color: $color1;
    }

    &:after {
      content: '';
      width: 2px;
      height: 20px;
      border: solid 1px #ffffff;
      display: inline-block;
      margin-left: 20px;
    }
  }
  a {
    color: #fff;
  }

  .icon {
    font-size: 2.5rem;
    margin-right: 20px;
  }

  .nav-head {
    float: right;
    margin-top: 49px;
    margin-right: 48px;
    display: flex;
    align-items: center;

    a {
      transition: ease .4s;

      &:hover {
        text-decoration: none;
        color: $color1;
      }
    }
  }
}

