
.no-gutter{
	padding: 0;
}

.no-large-gutter{
  padding: 0;
}

.no-right-gutter {
  padding-right: 0;
}

/* //// HEADER //// */

.header{
	background-color: black;
	height: 85px;
}

/* LOGO */

.logo {
  text-align: center;
  margin-top: 10px;
}

.logo img {
  width: 70px;
  margin: 0 auto;
  text-align: center;
}

/* LOGIN */

.login {
  margin-top: 25px;
}

i.zmdi.zmdi-account {
  color: white;
  font-size: 25px;
  margin-right: 10px;
}

button#dLabel {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;

  &:hover{
  	color: $pink;
  }
}

button#dLabel:hover i.zmdi.zmdi-account {
	color: $pink;
}

ul.dropdown-menu {
  border-radius: 0;
  text-align: center;
}

/* //// CONTENT //// */

.content{
	background-color: $gray-board;
	font-family: 'Lato', sans-serif;
}

/* BOARD */

.board{
	color: white;
	font-size: 2.6rem;
	margin: 10px 0;
}

/* DATE */

.section-date{
	color: white;
	position: relative;
}

.image-background{
	position: relative;
	img{
		width: 100% ;
	}
}

.content-background{
	position: absolute;
	top: 0;
}

.number{
	font-size: 16.7rem;
	font-weight: 300;
	display: inline-block;
	margin-left: 30px;
}

.infos-sup{
	display: inline-block;
	margin-left: 30px;

	.day{
		font-size: 4.6rem;
		font-weight: 800;
		text-transform: uppercase;
	}

	.month{
		font-size: 5.2rem;
		font-weight: 300;
		text-transform: uppercase;
	}
}

/* ORDER */

.order{
	background-color: white;
	border-radius: 5px;
	color: black;
	padding: 20px;
	i.zmdi.zmdi-format-list-bulleted{
		color: $blue-order;
		font-size: 30px;
		margin-right: 25px;
    display: inline-block;
    vertical-align: sub;
	}
	p{
		color: $blue-order;
		font-size: 2.6rem;
		display: inline-block;
	}
}

th {
  color: grey;
  font-weight: 400;
  color: $grey-order;
  font-size: 2rem;
}

.table > tbody > tr > td, .table > tbody > tr > th, 
.table > tfoot > tr > td, .table > tfoot > tr > th, 
.table > thead > tr > td, .table > thead > tr > th {
  border-top: 1px solid $light-grey-order;
	padding: 17px 0px;
}

td .number-order {
	color: black;
	font-weight: 500;
	font-size: 1.8rem;

	span{
		color: $blue-order;
	}
}

.order td i{
	color: $green-order;
  font-size: 25px;
}

.order a{
	text-transform: uppercase;
	text-decoration: none;
	color: $blue-order;
	font-size: 2.6rem;
	border: 1px solid $blue-order;
	padding: 10px 0;
	margin: 0 auto;
	display: block;
	width: 300px;
	text-align: center;

	&:hover{
		border: 1px solid $pink;
		color: $pink
	}
}

/* ROOMS */

.rooms{
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	margin-top: 15px;

	p{
		font-size: 2.6rem;
		color: $blue-order;
		display: inline-block;
	}

	i{
		font-size: 3rem;
		color: $blue-order;
		display: inline-block;
		margin-right: 10px;
	}
}


/* STOCK */

.stock{
	margin-top: 15px;
	position: relative;

	.image-background img {
    width: 100%;
    height: 250px;
	}

	.content-background{
		padding: 20px;

		p{
			font-size: 2.6rem;
			color: white;
			display: inline-block;
		}

		i{
			font-size: 3rem;
			color: white;
			display: inline-block;
			margin-right: 10px;
		}

		.tray{
			color: white;
			text-align: center;
			margin-top: 55px;
			p{
				font-size: 6rem;
				color: white;
				font-weight: 600;
				line-height: 15px;
			}

			span{
				font-size: 4.4rem;
				text-transform: uppercase;
				font-weight: 300;
			}

		}
	}
}















