<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
<body class="menu-sticky">

<!-- build:include include/header.html -->
<!-- /build -->

<!-- PAGE -->

<div class="main-container contenu">

    <div class="contain">
        <div class="c-title">
            <div class="text">
                <h2>Composez vos plat eaux</h2>
                <h3>Choisissez un plat, un dessert et une boisson</h3>
            </div>

            <div class="choice">

            </div>

            <div class="c-btn">
                <a href="#" class="btn1">J'invite mes collègues</a>
            </div>
        </div>

        <h4 class="choice-title">Choisissez vos plats</h4>

        <div class="c-choice">
            <article class="item">

                <div class="top">
                    <div class="img">
                        <img src="img/skin/scan-cut-03.png" alt="">
                    </div>
                    <div class="price">
                        <span class="price-text">38<sup>€90</sup></span>
                    </div>
                </div>

                <div class="bottom">
                    <div class="col-choice">
                        <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
                        <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, du
                            texte</p>
                    </div>
                    <div class="col-choice-small">
                        <span class="qt">Quantité</span>
                        <div class="more-min">
                            <span class="btn-act more">+</span>
                            <span class="number">0</span>
                            <span class="btn-act min">-</span>
                        </div>
                    </div>
                </div>

            </article>

            <article class="item">

                <div class="top">
                    <div class="img">
                        <img src="img/skin/group-2.png" alt="">
                    </div>
                    <div class="price">
                        <span class="price-text">38<sup>€90</sup></span>
                    </div>
                </div>

                <div class="bottom">
                    <div class="col-choice">
                        <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
                        <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, du
                            texte</p>
                    </div>
                    <div class="col-choice-small">
                        <span class="qt">Quantité</span>
                        <div class="more-min">
                            <span class="btn-act more">+</span>
                            <span class="number">0</span>
                            <span class="btn-act min">-</span>
                        </div>
                    </div>
                </div>

            </article>
        </div>


        <h4 class="choice-title">Choisissez vos desserts</h4>

        <div class="c-choice">
            <article class="item">

                <div class="top">
                    <div class="img">
                        <img src="img/skin/dessert-1.png" alt="">
                    </div>
                    <div class="price">
                        <span class="price-text">38<sup>€90</sup></span>
                    </div>
                </div>

                <div class="bottom">
                    <div class="col-choice">
                        <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
                        <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, du
                            texte</p>
                    </div>
                    <div class="col-choice-small">
                        <span class="qt">Quantité</span>
                        <div class="more-min">
                            <span class="btn-act more">+</span>
                            <span class="number">0</span>
                            <span class="btn-act min">-</span>
                        </div>
                    </div>
                </div>

            </article>

            <article class="item">

                <div class="top">
                    <div class="img">
                        <img src="img/skin/dessert-2.png" alt="">
                    </div>
                    <div class="price">
                        <span class="price-text">38<sup>€90</sup></span>
                    </div>
                </div>

                <div class="bottom">
                    <div class="col-choice">
                        <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
                        <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, du
                            texte</p>
                    </div>
                    <div class="col-choice-small">
                        <span class="qt">Quantité</span>
                        <div class="more-min">
                            <span class="btn-act more">+</span>
                            <span class="number">0</span>
                            <span class="btn-act min">-</span>
                        </div>
                    </div>
                </div>

            </article>
        </div>

        <h4 class="choice-title">Choisissez vos boissons</h4>

        <div class="c-choice">
            <article class="item">

                <div class="top">
                    <div class="img">
                        <img src="img/skin/boisson-1.png" alt="">
                    </div>
                    <div class="price">
                        <span class="price-text">38<sup>€90</sup></span>
                    </div>
                </div>

                <div class="bottom">
                    <div class="col-choice">
                        <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
                        <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, du
                            texte</p>
                    </div>
                    <div class="col-choice-small">
                        <span class="qt">Quantité</span>
                        <div class="more-min">
                            <span class="btn-act more">+</span>
                            <span class="number">0</span>
                            <span class="btn-act min">-</span>
                        </div>
                    </div>
                </div>

            </article>

            <article class="item">

                <div class="top">
                    <div class="img">
                        <img src="img/skin/boisson-2.png" alt="">
                    </div>
                    <div class="price">
                        <span class="price-text">38<sup>€90</sup></span>
                    </div>
                </div>

                <div class="bottom">
                    <div class="col-choice">
                        <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
                        <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, du
                            texte</p>
                    </div>
                    <div class="col-choice-small">
                        <span class="qt">Quantité</span>
                        <div class="more-min">
                            <span class="btn-act more">+</span>
                            <span class="number">0</span>
                            <span class="btn-act min">-</span>
                        </div>
                    </div>
                </div>

            </article>
        </div>


        <div class="c-btns">

            <div class="btns">
                <a href="#" class="btn1 commande">Je passe commande</a>
                <a href="#" class="btn1">J'invite mes collègues</a>
            </div>
        </div>

    </div>
</div>

<!-- build:include include/footer.html -->
<!-- /build -->

</body>
</html>
