<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
<body class="menu-sticky">

  <!-- build:include include/header.html -->
  <!-- /build -->

  <!-- PAGE -->

  <div class="main-container contenu">
    <div class="contain">

      <div class="c-title">
        <div class="text">
          <h2>Composez vos plat eaux</h2>
          <h3>Choisissez un plat, un dessert et une boisson</h3>
        </div>

        <div class="choice">

        </div>

        <div class="c-btn">
          <a href="#" class="btn1" type="button" data-toggle="modal" data-target=".bs-example-modal-lg">J'invite mes collègues</a>
        </div>
      </div>

      <h4 class="choice-title">Choisissez vos plats</h4>

      <div class="c-choice">
        <article class="item">
          <div class="top">
            <div class="img">
              <img src="img/skin/scan-cut-03.png" alt="">
            </div>
            <div class="price">
              <span class="price-text">38<sup>€90</sup></span>
            </div>
          </div>

          <div class="bottom">
            <div class="col-choice">
              <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
              <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, du texte</p>
            </div>
            <div class="col-choice-small">
              <span class="qt">Quantité</span>
              <div class="more-min">
                <span class="btn-act more">+</span>
                <span class="number">0</span>
                <span class="btn-act min">-</span>
              </div>
            </div>
          </div>
        </article>

        <article class="item">
          <div class="top">
            <div class="img">
              <img src="img/skin/group-2.png" alt="">
            </div>
            <div class="price">
              <span class="price-text">38<sup>€90</sup></span>
            </div>
          </div>

          <div class="bottom">
            <div class="col-choice">
              <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
              <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, du texte</p>
            </div>
            <div class="col-choice-small">
              <span class="qt">Quantité</span>
              <div class="more-min">
                <span class="btn-act more">+</span>
                <span class="number">0</span>
                <span class="btn-act min">-</span>
              </div>
            </div>
          </div>
        </article>
      </div>

      <h4 class="choice-title">Choisissez vos desserts</h4>

      <div class="c-choice">
        <article class="item">

          <div class="top">
            <div class="img">
              <img src="img/skin/dessert-1.png" alt="">
            </div>
            <div class="price">
              <span class="price-text">38<sup>€90</sup></span>
            </div>
          </div>

          <div class="bottom">
            <div class="col-choice">
              <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
              <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, dutexte</p>
            </div>

            <div class="col-choice-small">
              <span class="qt">Quantité</span>
              <div class="more-min">
                <span class="btn-act more">+</span>
                <span class="number">0</span>
                <span class="btn-act min">-</span>
              </div>
            </div>
          </div>

        </article>

        <article class="item">

          <div class="top">
            <div class="img">
              <img src="img/skin/dessert-2.png" alt="">
            </div>
            <div class="price">
              <span class="price-text">38<sup>€90</sup></span>
            </div>
          </div>

          <div class="bottom">
            <div class="col-choice">
              <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
              <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, du texte</p>
            </div>
            <div class="col-choice-small">
              <span class="qt">Quantité</span>
              <div class="more-min">
                <span class="btn-act more">+</span>
                <span class="number">0</span>
                <span class="btn-act min">-</span>
              </div>
            </div>
          </div>

        </article>
      </div>

      <h4 class="choice-title">Choisissez vos boissons</h4>

      <div class="c-choice">
        <article class="item">
          <div class="top">
            <div class="img">
              <img src="img/skin/boisson-1.png" alt="">
            </div>
            <div class="price">
              <span class="price-text">38<sup>€90</sup></span>
            </div>
          </div>

          <div class="bottom">
            <div class="col-choice">
              <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
              <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, du texte</p>
            </div>
            <div class="col-choice-small">
              <span class="qt">Quantité</span>
              <div class="more-min">
                <span class="btn-act more">+</span>
                <span class="number">0</span>
                <span class="btn-act min">-</span>
              </div>
            </div>
          </div>
        </article>

        <article class="item">
          <div class="top">
            <div class="img">
              <img src="img/skin/boisson-2.png" alt="">
            </div>
            <div class="price">
              <span class="price-text">38<sup>€90</sup></span>
            </div>
          </div>

          <div class="bottom">
            <div class="col-choice">
              <strong class="item-title">SAUMON RôTI <br>ET LENTILLES DE SAINT-FLOUR</strong>
              <p class="desc">Un super plat de lentille pour vos papilles avec du texte, du texte, du texte</p>
            </div>
            <div class="col-choice-small">
              <span class="qt">Quantité</span>
              <div class="more-min">
                <span class="btn-act more">+</span>
                <span class="number">0</span>
                <span class="btn-act min">-</span>
              </div>
            </div>
          </div>
        </article>
      </div>

      <div class="c-btns">
        <div class="btns">

          <a href="#" class="btn1 commande" type="button" data-toggle="modal" data-target=".bs-example-modale-2">Je passe commande</a>


          <a href="#" class="btn1" type="button" data-toggle="modal" data-target=".bs-example-modal-lg" >J'invite mes collègues</a>
        </div>
      </div>

    </div>
  </div>


  <!-- ******** MODALE INVITATION ******** -->
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg-lg" role="document">
      <div class="modal-content modale-invit-tabs">
        <!-- /// -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- /// -->
        <div class="modale-body modale-invit">
          <!-- /// -->
          <img src="img/logo-noir.png" alt="logo">
          <div class="intro-modale">
            <h4>Invitez vos collègues</h4>
            <p>Je propose à mes collègues de nous faire livrer un plateau repas</p>
          </div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#COLLÈGUES" aria-controls="COLLÈGUES" role="tab" data-toggle="tab">COLLÈGUES</a></li>
            <li role="presentation"><a href="#URL" aria-controls="URL" role="tab" data-toggle="tab">URL</a></li>
            <li role="presentation"><a href="#EMAIL" aria-controls="EMAIL" role="tab" data-toggle="tab">EMAIL</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <!-- /// -->
            <div role="tabpanel" class="tab-pane active" id="COLLÈGUES">
              <div class="tabs-collegues">

                <p>Selectionnez les collègues qui mangent avec vous :</p>

                <ul>
                  <li>
                    <label>
                      <div class="name">Mélanie <strong>GANJON</strong></div> 
                      <input type="checkbox">
                    </label>
                  </li>

                  <li>
                    <label>
                      <div class="name">Mélanie <strong>GANJON</strong></div> 
                      <input type="checkbox">
                    </label>
                  </li>

                  <li>
                    <label>
                      <div class="name">Mélanie <strong>GANJON</strong></div> 
                      <input type="checkbox">
                    </label>
                  </li>

                  <!-- //// -->

                  <li>
                    <label>
                      <div class="name">Fabrice <strong>CORPO</strong></div> 
                      <input type="checkbox">
                    </label>
                  </li>

                  <li>
                    <label>
                      <div class="name">Fabrice <strong>CORPO</strong></div> 
                      <input type="checkbox">
                    </label>
                  </li>

                  <li>
                    <label>
                      <div class="name">Fabrice <strong>CORPO</strong></div> 
                      <input type="checkbox">
                    </label>
                  </li>

                  <!-- //// -->

                  <li>
                    <label>
                      <div class="name">Nancy <strong>BARREAU</strong></div> 
                      <input type="checkbox">
                    </label>
                  </li>

                  <li>
                    <label>
                      <div class="name">Nancy <strong>BARREAU</strong></div> 
                      <input type="checkbox">
                    </label>
                  </li>

                  <li>
                    <label>
                      <div class="name">Nancy <strong>BARREAU</strong></div> 
                      <input type="checkbox">
                    </label>
                  </li>
                </ul>

                <a href="#" class="btn-commande">LANCER LA PRISE DE COMMANDE</a>

              </div>
            </div>
            <!-- /// -->
            <div role="tabpanel" class="tab-pane" id="URL">
              <div class="tabs-url">
                <p>Partagez le lien ci-dessous avant de lancer une session de commande</p>

                <a class="link" href="#">https://room.sa/1hebf5c</a>

                <a class="copier" href="">COPIER</a>

                <div class="share">Partagez le lien ci-dessous avant de lancer une session de commande</div>

                <ul>
                  <li>
                    <a href="#"><img src="img/slack.svg" alt=""></a>
                  </li>
                  <li>
                    <a href="#"><img src="img/skype.svg" alt=""></a>
                  </li>
                </ul>

              </div>
            </div>
            <!-- /// -->
            <div role="tabpanel" class="tab-pane" id="EMAIL">
              <div class="tabs-email">
                <p>Partagez le lien ci-dessous avant de lancer une session de commande</p>
                <label>Adresse(s) email(s)</label>
                <input type="email" placeholder="Email">
                <a href="#" class="btn-invit">ENVOYER LES INVITATIONS</a>
              </div>
            </div>
            <!-- /// -->
          </div>



        </div>
      </div>
    </div>
  </div>

  <!-- ******** MODALE INVITATION ******** -->
  <div class="modal fade bs-example-modale-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg-lg" role="document">
      <div class="modal-content modale-invit-tabs modale-contenu">
        <!-- /// -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- /// -->
        <div class="modale-body modale-invit">
          <!-- /// -->
          <img src="img/logo-noir.png" alt="logo">
          <div class="intro-modale">
            <h4>Invitez vos collègues</h4>
            <p>Ceci est mon paragraphe pour expliquer le principe</p>
          </div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#LIVRAISON" aria-controls="LIVRAISON" role="tab" data-toggle="tab"><span>1</span>LIVRAISON</a>
            </li>

            <li class="deco">• • •</li>

            <li role="presentation">
              <a href="#RÉCAPITULATIF" aria-controls="RÉCAPITULATIF" role="tab" data-toggle="tab"><span>2</span>RÉCAPITULATIF</a>
            </li>

            <li class="deco">• • •</li>

            <li role="presentation">
              <a href="#PAIEMENT" aria-controls="PAIEMENT" role="tab" data-toggle="tab"><span>3</span>PAIEMENT</a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <!-- /// -->
            <div role="tabpanel" class="tab-pane active" id="LIVRAISON">
              <div class="tabs-email">
                <div class="form-content name">
                  <label>Votre nom</label>
                  <input type="email" placeholder="">
                </div>

                <div class="form-content nickname">
                  <label>Votre prénom</label>
                  <input type="email" placeholder="">
                </div>

                <label>Nom et numéro de la voie</label>
                <input type="email" placeholder="">

                <label>Informations complémentaires/personne à demander</label>
                <input type="email" placeholder="">

                <div class="form-content name">
                  <label>Code</label>
                  <input type="email" placeholder="">
                </div>

                <div class="form-content nickname">
                  <label>Ville </label>
                  <input type="email" placeholder="">
                </div>

                <div class="select-time">
                  <div class="time-delevery">Heure de livraison souhaitée : </div>
                  <select class="form-control">
                    <option>immédiatement</option>
                    <option>Dans 30min</option>
                    <option>Dans 1h</option>
                    <option>Demain 12h</option>
                    <option>Demain 13h</option>
                    <option>Demain 14h</option>
                  </select>
                </div>

                <a href="#" class="btn-modale-cont">POURSUIVRE MA COMMANDE</a>

                <div class="clearfix"></div>

              </div>
            </div>
            <!-- /// -->
            <div role="tabpanel" class="tab-pane" id="RÉCAPITULATIF">
              <div class="recapitualif">

                <p>20 article(s)</p>

                <table class="table"> 
                  <tbody> 
                    <tr> 
                      <th scope="row"><img src="img/cut-1.jpg" alt=""></th> 
                      <td>Saumon rôti et lentilles de Saint-Flour</td> 
                      <td>x02</td> 
                      <td>38,90€</td> 
                    </tr> 

                    <tr> 
                      <th scope="row"><img src="img/cut-1.jpg" alt=""></th> 
                      <td>Saumon rôti et lentilles de Saint-Flour</td> 
                      <td>x02</td> 
                      <td>38,90€</td> 
                    </tr> 

                  </tbody> 
                </table>

                <div class="total">
                  <p>TOTAL</p>
                  <span>155,60€</span>
                </div>

                <div>
                  <div class="form-price">
                    <label>Disposez vous d’un code promo ?</label>
                    <input type="email" placeholder="">
                  </div>
                  <a href="#" class="apply"> APPLIQUER</a>
                </div>

                <div class="btn-meeting">
                  <a href="#" class="modifier">MODIFIER</a>
                  <a href="#" class="valider">VALIDER ET PAYER</a>
                </div>
            
              </div>
            </div>
            <!-- /// -->
            <div role="tabpanel" class="tab-pane" id="PAIEMENT">
              <div class="paiement">
                <div class="choose">Choisissez votre moyen de paiement</div>
                <div class="one">
                  <input type="radio" name="group1" value="tr" id="tr"> <label for="tr">Tickets restaurant</label>
                </div>
                <div class="one">
                  <input type="radio" name="group1" value="espece"  id="espece"> <label for="espece">Espèce</label>
                </div>
                <div class="one">
                  <input type="radio" name="group1" value="cb" id="cb"><label for="cb">Carte banquaire</label>
                </div>
                <a href="#" class="btn-paiement-r">SÉLECTIONNER</a>

                <div class="form-content full">
                  <label>Numéro de carte bancaire</label>
                  <input type="email" placeholder="">
                </div>

                <div class="form-content">
                  <label>Date d’expiration </label>
                  <input type="email" placeholder="">
                </div>

                <div class="form-content right">
                  <label>Code de sécurité </label>
                  <input type="email" placeholder="">
                </div>

                  <a href="#" class="paiement-modale">paiement</a>
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- /// -->
          </div>



        </div>
      </div>
    </div>
  </div>

  <!-- build:include include/footer.html -->
  <!-- /build -->

</body>
</html>
