<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
<body class="home">

<!-- build:include include/header.html -->
<!-- /build -->

<!-- PAGE -->

<div class="main-container">
	<div class="home-e-commerce">
		<div class="content-background">
			<h1>Un repas tous ensemble</h1>
			<p>Livraison de plateaux pour vous et vos collègues, à Paris</p>
			<a href="#" class="btn-home">COMMANDONS ENSEMBLE</a>
		</div>
	</div>
</div>

<!-- build:include include/footer.html -->
<!-- /build -->

</body>
</html>
