<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
<body class="home">

<!-- build:include include/header.html -->
<!-- /build -->

<!-- PAGE -->

<div class="main-container">
	<div class="page-e-commerce">
		<!-- ///// -->
		<div class="home-e-commerce">
			<div class="content-background">
				<h1>Un repas tous ensemble</h1>
				<p>Livraison de plateaux pour vous et vos collègues, à Paris</p>
				<!-- ///// -->
				<a href="#" class="btn-home" type="button" data-toggle="modal" data-target=".bs-example-modal-lg">COMMANDONS ENSEMBLE</a>
				<!-- ///// -->
				<a href="#service" class="arrow">
					<img src="img/arrw.png" alt="">
				</a>
			</div>
		</div>
		<!-- ///// -->
		<div class="service" id="service">
			<h2>SERVICE</h2>
			<div class="one-services">
				<img src="img/couverts.svg" alt="">
				<div class="title-service">PLATEAU REPAS</div>
				<p>2 plats, 2 desserts et 2 boissonspar jour</p>
			</div>
			<div class="one-services">
				<img src="img/couverts.svg" alt="">
				<div class="title-service">EN ÉQUIPE</div>
				<p>Une commande groupée pour un repas animé</p>
			</div>
			<div class="one-services">
				<img src="img/couverts.svg" alt="">
				<div class="title-service">RAPIDEMENT</div>
				<p>Un service de qualité livré en 30 minutes</p>
			</div>
			<h3>Commandez sans plus attendre !</h3>
			<!-- ///// -->
			<a href="#" class="btn-home" type="button" data-toggle="modal" data-target=".bs-example-modale-2">COMMANDONS ENSEMBLE</a>
			<!-- ///// -->
		</div>
		<!-- ///// -->
		<div class="actu">
			<h2>ACTUALITÉS</h2>
			<div class="one-actu">
				<a href="">
					<img src="img/visuel-02.jpg" alt="">
					<div class="texte-actu">
						<strong>Pourquoi un plateau repas</strong>
						<p>Restez au chaud grâce à Room Saveur</p>
					</div>
				</a>
			</div>
			<div class="one-actu">
				<a href="">
					<div class="section-texte">
						<span>-10%</span>
						<p>*sur votre première commande avec le code :</p>
						<div class="promo">PREMS</div>
						<div class="alinea">*offre valable jusqu’au 13 novembre 2016</div>
					</div>
					<div class="texte-actu">
						<strong>Pourquoi un plateau repas</strong>
						<p>Restez au chaud grâce à Room Saveur</p>
					</div>
				</a>
			</div>
			<div class="one-actu">
				<a href="">
					<img src="img/visuel-01.jpg" alt="">
					<div class="texte-actu">
						<strong>Pourquoi un plateau repas</strong>
						<p>Restez au chaud grâce à Room Saveur</p>
					</div>
				</a>
			</div>
			<div class="one-actu">
				<a href="">
					<img src="img/scan-cut-10.jpg" alt="">
					<div class="texte-actu">
						<strong>Pourquoi un plateau repas</strong>
						<p>Restez au chaud grâce à Room Saveur</p>
					</div>
				</a>
			</div>

			<div class="c-btns">

				<div class="btns">
					<a href="#" class="btn1">PLUS D’ACTUALITÉS</a>
				</div>
			</div>

		</div>
		<!-- ///// -->
	</div>
</div>

<!-- ******** MODALE INVITATION ******** -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg-lg" role="document">
    <div class="modal-content modale-invit-tabs">
			<!-- /// -->
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
      </div>
			<!-- /// -->
      <div class="modale-body modale-invit">
				<!-- /// -->
      	<img src="img/logo-noir.png" alt="logo">
    		<div class="intro-modale">
    			<h4>Invitez vos collègues</h4>
    			<p>Ceci est mon paragraphe pour expliquer le principe</p>
    		</div>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#COLLÈGUES" aria-controls="COLLÈGUES" role="tab" data-toggle="tab">COLLÈGUES</a></li>
			    <li role="presentation"><a href="#URL" aria-controls="URL" role="tab" data-toggle="tab">URL</a></li>
			    <li role="presentation"><a href="#EMAIL" aria-controls="EMAIL" role="tab" data-toggle="tab">EMAIL</a></li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
					<!-- /// -->
			    <div role="tabpanel" class="tab-pane active" id="COLLÈGUES">
				    <div class="tabs-collegues">

				    	<p>Selectionnez les collègues qui mangent avec vous :</p>

				    	<ul>
				    		<li>
				    			<label>
				    				<div class="name">Mélanie <strong>GANJON</strong></div> 
				    				<input type="checkbox">
				    			</label>
				    		</li>

				    		<li>
				    			<label>
				    				<div class="name">Mélanie <strong>GANJON</strong></div> 
				    				<input type="checkbox">
				    			</label>
				    		</li>

				    		<li>
				    			<label>
				    				<div class="name">Mélanie <strong>GANJON</strong></div> 
				    				<input type="checkbox">
				    			</label>
				    		</li>

				    		<!-- //// -->

				    		<li>
				    			<label>
				    				<div class="name">Fabrice <strong>CORPO</strong></div> 
				    				<input type="checkbox">
				    			</label>
				    		</li>

				    		<li>
				    			<label>
				    			<div class="name">Fabrice <strong>CORPO</strong></div> 
				    				<input type="checkbox">
				    			</label>
				    		</li>

				    		<li>
				    			<label>
				    				<div class="name">Fabrice <strong>CORPO</strong></div> 
				    				<input type="checkbox">
				    			</label>
				    		</li>

				    		<!-- //// -->

				    		<li>
				    			<label>
				    				<div class="name">Nancy <strong>BARREAU</strong></div> 
				    				<input type="checkbox">
				    			</label>
				    		</li>

				    		<li>
				    			<label>
				    				<div class="name">Nancy <strong>BARREAU</strong></div> 
				    				<input type="checkbox">
				    			</label>
				    		</li>

				    		<li>
				    			<label>
				    				<div class="name">Nancy <strong>BARREAU</strong></div> 
				    				<input type="checkbox">
				    			</label>
				    		</li>
				    	</ul>

				    	<a href="#" class="btn-commande">LANCER LA PRISE DE COMMANDE</a>

				    </div>
			    </div>
					<!-- /// -->
			    <div role="tabpanel" class="tab-pane" id="URL">
				    <div class="tabs-url">
							<p>Partagez le lien ci-dessous avant de lancer une session de commande</p>

							<a class="link"	href="#">https://room.sa/1hebf5c</a>

							<a class="copier" href="">COPIER</a>

							<div class="share">Partagez le lien ci-dessous avant de lancer une session de commande</div>

							<ul>
								<li>
									<a href="#"><img src="img/slack.svg" alt=""></a>
								</li>
								<li>
									<a href="#"><img src="img/skype.svg" alt=""></a>
								</li>
							</ul>

			    	</div>
			    </div>
					<!-- /// -->
			    <div role="tabpanel" class="tab-pane" id="EMAIL">
				    <div class="tabs-email">
							<p>Partagez le lien ci-dessous avant de lancer une session de commande</p>
					    <label>Adresse(s) email(s)</label>
					    <input type="email" placeholder="Email">
			    		<a href="#" class="btn-invit">ENVOYER LES INVITATIONS</a>
				    </div>
				  </div>
					<!-- /// -->
			  </div>



      </div>
    </div>
  </div>
</div>

<!-- ******** MODALE INVITATION ******** -->
<div class="modal fade bs-example-modale-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg-lg" role="document">
    <div class="modal-content modale-invit-tabs">
			<!-- /// -->
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
      </div>
			<!-- /// -->
      <div class="modale-body modale-invit">
				<!-- /// -->
      	<img src="img/logo-noir.png" alt="logo">
    		<div class="intro-modale">
    			<h4>Invitez vos collègues</h4>
    			<p>Ceci est mon paragraphe pour expliquer le principe</p>
    		</div>
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#LIVRAISON" aria-controls="LIVRAISON" role="tab" data-toggle="tab">LIVRAISON</a></li>
			    <li role="presentation"><a href="#RÉCAPITULATIF" aria-controls="RÉCAPITULATIF" role="tab" data-toggle="tab">RÉCAPITULATIF</a></li>
			    <li role="presentation"><a href="#PAIEMENT" aria-controls="PAIEMENT" role="tab" data-toggle="tab">PAIEMENT</a></li>
			  </ul>
			  <!-- Tab panes -->
			  <div class="tab-content">
					<!-- /// -->
			    <div role="tabpanel" class="tab-pane active" id="LIVRAISON">
				   
			    </div>
					<!-- /// -->
			    <div role="tabpanel" class="tab-pane" id="RÉCAPITULATIF">
				  
			    </div>
					<!-- /// -->
			    <div role="tabpanel" class="tab-pane" id="PAIEMENT">
				   
				  </div>
					<!-- /// -->
			  </div>



      </div>
    </div>
  </div>
</div>

<!-- build:include include/footer.html -->
<!-- /build -->

</body>
</html>
