<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
<body class="home">

<!-- PAGE -->

<div class="menu-left">
  <!-- build:include include/header.html -->
  <!-- /build -->
</div> 


<!-- ///////////////////// -->
<!-- ////// HEADER ////// -->
<!-- ///////////////////// -->

<div class="header">
  <div class="col-lg-9">
    <div class="logo">
      <img src="img/skin/logo.svg" alt="logo-account">
    </div>
  </div>
  <div class="col-lg-3">
    <div class="login">
      <div class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="zmdi zmdi-account"></i>
          Bonjour Administrateur
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li>lorem</li>
          <li>ipsum</li>
          <li>lorem</li>
          <li>ipsum</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- ///////////////////// -->
<!-- ////// CONTENT ////// -->
<!-- ///////////////////// -->

<div class="content">
  <div class="main-container">

    <div class="title-page">
      <p>Le catalogue</p>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Rechercher un produit">
        </div>
        <button type="submit" class="btn btn-default">
          <i class="zmdi zmdi-search"></i>
        </button>
      </form>
    </div>

    <div class="content-white">

      <a class="btn-add-product" type="button" data-toggle="modal" data-target="#myModal">Ajouter</a>

      <div class="first-content-menu content-menu ">

        <div class="type-menu">
          <img src="img/skin/menu-1.jpg" alt="fruit">
          <p>Filet de poulet roti</p>
          <ul>
            <li>3700929316301</li>
            <li>J+1 après fabrication</li>
          </ul>
        </div>

        <div class="infos-menu">
          <p>Menu HA1 FAUCHON</p>
          <div class="description">
            <strong>Entrée :</strong> Velouté d'automne à la châtaigne et à la courge butternut
            </br>
            <strong>Plat :</strong> Filet de poulet rôti au thé Lapsang Souchong, salade de crozets aux artichauts et pickles d'oignons rouges
            </br>
            <strong>Dessert :</strong> Financier aux agrumes et crème de citron vert FAUCHON
            <br></br>
            <strong>Ce plateau est livré avec :</strong> un pain aux céréales, Bleu-blanc-coeur , une gourmandise Fauchon, une bouteille Evian 33cl, un verre et un kit de couverts
          </div>
        </div>

        <div class="price">
          <p>29,9€</p>
          <span>10% TVA</span>
        </div>

        <div class="btn-edit">
          <a href="#" alt="SUPPRIMER">
            <i class="zmdi zmdi-delete"></i>
            SUPPRIMER
          </a>

          <a href="#" alt="SUPPRIMER">
            <i class="zmdi zmdi-edit"></i>
            EDITER
          </a>

        </div>
      </div>

      <div class="content-menu">
        <div class="type-menu">
          <img src="img/skin/menu-2.jpg" alt="fruit">
          <p>Filet de poulet roti</p>
          <ul>
            <li>3700929316301</li>
            <li>J+1 après fabrication</li>
          </ul>
        </div>
        <div class="infos-menu">
          <p>Menu HA1 FAUCHON</p>
          <div class="description">
            <strong>Entrée :</strong> Velouté d'automne à la châtaigne et à la courge butternut
            </br>
            <strong>Plat :</strong> Filet de poulet rôti au thé Lapsang Souchong, salade de crozets aux artichauts et pickles d'oignons rouges
            </br>
            <strong>Dessert :</strong> Financier aux agrumes et crème de citron vert FAUCHON
            <br></br>
            <strong>Ce plateau est livré avec :</strong> un pain aux céréales, Bleu-blanc-coeur , une gourmandise Fauchon, une bouteille Evian 33cl, un verre et un kit de couverts
          </div>
        </div>
        <div class="price">
          <p>29,9€</p>
          <span>10% TVA</span>
        </div>
        <div class="btn-edit">
          <a href="#" alt="SUPPRIMER">
            <i class="zmdi zmdi-delete"></i>
            SUPPRIMER
          </a>

          <a href="#" alt="SUPPRIMER">
            <i class="zmdi zmdi-edit"></i>
            EDITER
          </a>
        </div>
      </div>

      <div class="content-menu">
        <div class="type-menu">
          <img src="img/skin/menu-3.jpg" alt="fruit">
          <p>Filet de poulet roti</p>
          <ul>
            <li>3700929316301</li>
            <li>J+1 après fabrication</li>
          </ul>
        </div>
        <div class="infos-menu">
          <p>Menu HA1 FAUCHON</p>
          <div class="description">
            <strong>Entrée :</strong> Velouté d'automne à la châtaigne et à la courge butternut
            </br>
            <strong>Plat :</strong> Filet de poulet rôti au thé Lapsang Souchong, salade de crozets aux artichauts et pickles d'oignons rouges
            </br>
            <strong>Dessert :</strong> Financier aux agrumes et crème de citron vert FAUCHON
            <br></br>
            <strong>Ce plateau est livré avec :</strong> un pain aux céréales, Bleu-blanc-coeur , une gourmandise Fauchon, une bouteille Evian 33cl, un verre et un kit de couverts
          </div>
        </div>
        <div class="price">
          <p>29,9€</p>
          <span>10% TVA</span>
        </div>
        <div class="btn-edit">
          <a href="#" alt="SUPPRIMER">
            <i class="zmdi zmdi-delete"></i>
            SUPPRIMER
          </a>

          <a href="#" alt="SUPPRIMER">
            <i class="zmdi zmdi-edit"></i>
            EDITER
          </a>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une room</h4>
      </div>

      <div class="modal-body modal-rooms">
        <form>

          <div class="form-group">
            <label for="exampleInputFile">Photo</label>
            <input type="file" id="exampleInputFile">
          </div>

          <div class="form-group">
            <label>Désignation</label>
            <input type="text" class="form-control" placeholder="">
          </div>

          <div class="form-group">
            <label>Descriptif</label>
            <input type="text" class="form-control" placeholder="">
          </div>

          <div class="form-group cdp">
            <label>Référence</label>
            <input type="text" class="form-control" placeholder="">
          </div>

          <div class="form-group town">
            <label>tarif unitaire HT</label>
            <input type="text" class="form-control" placeholder="">
          </div>

          <div class="line"></div>

          <div class="form-group">
            <label>Taux TVA </label>
            <input type="text" class="form-control" placeholder="">
          </div>

          <div class="form-group">
            <label>Date limite de consommation</label>
            <input type="text" class="form-control" placeholder="">
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <a class="add-modale" href="#">Ajouter</a>
      </div>

    </div>
  </div>
</div>

<!-- build:include include/footer.html -->
<!-- /build -->

</body>
</html>
