<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
<body class="home">

<!-- PAGE -->

      <div class="col-lg-1 col-md-1 no-gutter menu-left">
        <!-- build:include include/header.html -->
        <!-- /build -->
      </div>

      <div class="col-lg-11 col-md-11 no-large-gutter">

        <!-- ///////////////////// -->
        <!-- ////// HEADER ////// -->
        <!-- ///////////////////// -->

        <div class="header">
          <div class="col-lg-9">
            <div class="logo">
              <img src="img/skin/logo.svg" alt="logo-account">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="login">
              <div class="dropdown">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="zmdi zmdi-account"></i>
                  Bonjour Administrateur
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li>lorem</li>
                  <li>ipsum</li>
                  <li>lorem</li>
                  <li>ipsum</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- ///////////////////// -->
        <!-- ////// CONTENT ////// -->
        <!-- ///////////////////// -->

        <div class="content main-container">

          <div class="first-section">
            <div class="col-md-12">
              <div class="board">
                Mon tableau de bord
              </div>
            </div>

            <div class="col-md-6 no-right-gutter">
              <div class="row">
                <div class="first-bloc">

                  <!-- ///////////////////// -->
                  <!-- //////// DATE /////// -->
                  <!-- ///////////////////// -->
                  
                  <div class="col-md-12">
                    <div class="section-date">
                      <div class="image-background">
                        <img src="img/skin/background.png" alt="fruit">
                      </div>
                      <div class="content-background">
                        <div class="number">14</div>
                        <div class="infos-sup">
                          <div class="day">VENDREDI</div>
                          <div class="month">OCTOBRE</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- ///////////////////// -->
                  <!-- //////// ROOMS ////// -->
                  <!-- ///////////////////// -->

                  <div class="col-md-6">
                    <div class="m-donut rooms">
                      <p><i class="zmdi zmdi-store"></i> Rooms ouvertes</p>
                      <div class="c-donut">
                        <div class="chart">
                          <div class="percentage" data-percent="75">
                            <span class="number-donut">75</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- ///////////////////// -->
                  <!-- //////// STOCK ////// -->
                  <!-- ///////////////////// -->

                  <div class="col-md-6">
                    <div class="stock">
                      <div class="image-background">
                        <img src="img/skin/pink-background.png" alt="fruit">
                      </div>
                      <div class="content-background">
                        <i class="zmdi zmdi-truck"></i>
                        <p>Stock octobre</p>
                        <div class="tray">
                          <p>1024</p>
                          <span>PLATEAUX</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <!-- ////////////////////// -->
            <!-- ///// COMMANDE ////// -->
            <!-- ///////////////////// -->

            <div class="col-md-6">
              <div class="order">
                <i class="zmdi zmdi-format-list-bulleted"></i>
                <p>Les commandes du jour</p>
                <div class="bs-example" data-example-id="simple-table"> 
                  <table class="table"> 
                    <tbody> 
                      <tr> 
                        <th scope="row">#87</th> 
                        <td>
                          <div class="number-order">
                            <span>3</span> plateaux commandés
                          </div>
                        </td> 
                        <td>11h48</td> 
                        <td> </td> 
                      </tr> 

                      <tr> 
                        <th scope="row">#86</th> 
                        <td>
                          <div class="number-order">
                            <span>8</span> plateaux commandés
                          </div>
                        </td> 
                        <td>Thornton</td> 
                        <td><i class="zmdi zmdi-check-circle"></i></td> 
                      </tr> 

                      <tr> 
                        <th scope="row">#85</th> 
                        <td>
                          <div class="number-order">
                            <span>8</span> plateaux commandés
                          </div>
                        </td> 
                        <td>11h46</td> 
                        <td> </td> 
                      </tr>

                      <tr> 
                        <th scope="row">#84</th> 
                        <td>
                          <div class="number-order">
                            <span>7</span> plateaux commandés
                          </div>
                        </td> 
                        <td>11h32</td> 
                        <td><i class="zmdi zmdi-check-circle"></i></td> 
                      </tr>

                      <tr> 
                        <th scope="row">#83</th> 
                        <td>
                          <div class="number-order">
                            <span>8</span> plateaux commandés
                          </div>
                        </td> 
                        <td>11h21</td> 
                        <td><i class="zmdi zmdi-check-circle"></i></td> 
                      </tr>

                      <tr> 
                        <th scope="row">#82</th> 
                        <td>
                          <div class="number-order">
                            <span>6</span> plateaux commandés
                          </div>
                        </td> 
                        <td>11h19</td> 
                        <td><i class="zmdi zmdi-check-circle"></i></td> 
                      </tr>
                    </tbody> 

                  </table> 
                </div>
                <a href="#" title="bouton afficher plus">AFFICHER PLUS</a>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>

          <div class="second-section">
            <div class="col-md-3">
              <div class="rooms">
                <i class="zmdi zmdi-truck"></i>
                <p>Livreurs du jour</p>
              </div>
            </div>
          
            <div class="col-md-6">
              <div class="rooms">
                <i class="zmdi zmdi-truck"></i>
                <p>Livreurs du jour</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="rooms">
                <i class="zmdi zmdi-truck"></i>
                <p>Objectif atteint</p>
              </div>
            </div>
          </div>

          <!-- ////// -->
          
          <div class="clearfix"></div>

          </div>
        </div>
      </div>


<!-- build:include include/footer.html -->
<!-- /build -->

</body>
</html>
