<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
<body class="home">
<!-- build:include include/header.html -->
<!-- /build -->

<section class="container">

    <div class="m-menu">
        <div class="container">

            <div class="tabs animated">
                <div class="tab" data-id="tab1">Tab 1</div>
                <div class="tab" data-id="tab2">Tab 2</div>
                <div class="tab" data-id="tab3">Tab 3</div>
                <div class="tab" data-id="tab4">Tab 4</div>
                <div class="tab" data-id="tab5">Tab 5</div>
            </div>

            <div class="c-tabs">
                <div class="tab animated" data-id="tab1">
                    <p>Contenu 1</p>
                </div>
                <div class="tab animated" data-id="tab2">
                    <p>trolololololol</p>
                </div>
                <div class="tab animated" data-id="tab3">
                    <p>nomnomnom</p>
                </div>
                <div class="tab animated" data-id="tab4">
                    <p>trolololololol</p>
                </div>
                <div class="tab animated" data-id="tab5">
                    <p>nomnomnom</p>
                </div>
            </div>

        </div>
    </div>

</section>

<script src="js/vendors.js"></script>
<script src="js/app.js"></script>


</body>

</html>
