<!DOCTYPE html>
<html>
<!-- build:include include/head.html -->
<!-- /build -->
<body class="home">

<!-- PAGE -->

      <div class="menu-left">
        <!-- build:include include/header.html -->
        <!-- /build -->
      </div>

      <div class="">

        <!-- ///////////////////// -->
        <!-- ////// HEADER ////// -->
        <!-- ///////////////////// -->

        <div class="header">
          <div class="col-lg-9">
            <div class="logo">
              <img src="img/skin/logo.svg" alt="logo-account">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="login">
              <div class="dropdown">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="zmdi zmdi-account"></i>
                  Bonjour Administrateur
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li>lorem</li>
                  <li>ipsum</li>
                  <li>lorem</li>
                  <li>ipsum</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- ///////////////////// -->
        <!-- ////// CONTENT ////// -->
        <!-- ///////////////////// -->

        <div class="content">
          <div class="main-container">

            <div class="title-page">
              <p>Le catalogue</p>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Rechercher un produit">
                </div>
                <button type="submit" class="btn btn-default">
                  <i class="zmdi zmdi-search"></i>
                </button>
              </form>
            </div>

            <div class="content-white content-stocks">

              <div class="dropdown dropdown-stocks">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Room Les Batignolles
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li>lorem</li>
                  <li>ipsum</li>
                  <li>lorem</li>
                  <li>ipsum</li>
                </ul>
              </div>

              <a class="btn-add-product" href="#">Ajouter</a>

              <div class="bs-example" data-example-id="striped-table"> 
                <table class="table table-striped"> 
                  <thead> 
                    <tr> 
                      <th>Produits</th> 
                      <th>Date limite</th> 
                      <th>Quantité</th> 
                    </tr> 
                  </thead> 
                  <tbody> 
                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>

                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>

                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>

                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>

                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>

                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>

                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>

                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>

                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>

                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>

                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>

                    <tr> 
                      <th>Filet de poulet rôti</th> 
                      <td>23/11/2016</td> 
                      <td>154</td> 
                    </tr>
                  
                  </tbody> 
                </table> 
              </div>

            </div>
          </div>
        </div>
      </div>


<!-- build:include include/footer.html -->
<!-- /build -->

</body>
</html>
